[submodule "apps/server/src/ee"]
	path = apps/server/src/ee
	url = https://github.com/docmost/ee
[submodule "apps/server/src/custom-sso"]
	path = apps/server/src/custom-sso
	url = ../docmost-custom-sso.git
